body{
  font-family: Alan Sans, sans-serif;
}

header{
  background-color: #5f055f;
  color: #fff;
  padding: 15px 0px;
}



.logo{
  max-width: 100px;
  vertical-align: middle;
}

.title-style{
  vertical-align: middle;
  display: inline-block;
  color: #fff;
}

.card-movie{
  height: 610px;
  border: 2px solid #5f055f;
  position: relative;
}

.cover-movie-card{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #5f055f;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-movie:hover .overlay{
  opacity: 0.75;
}

.detail-card{
  background-color: #5f055f;
  margin: 50px 0px;
}

.cover-image{
  width: 40%;
}

.cover-image img{
  max-width: 470px;
  margin: 15px;
  border-radius: 10px;
}

.text-details {
  width: 60%;
  color: #fff;
  margin: 20px 0px;
}

.title{
  font-size: 55px;
}

.director{
  font-size: 40px;
}

.release-year, .genre{
  font-size: 30px;
}

.abstract{
  font-size: 20px;
}

.review-card{
  border: 2px solid #5f055f;
  padding: 25px;
  border-radius: 25px;
  color: #5f055f;
}

.detail-card-2{
  background-color: #5f055f;
  margin: 50px 0px;
  padding: 10px;
}

.btn-secondary{
  border-radius: 20px;
  padding: 5px 30px;
  color: #fff;
  background-color: #5f055f;
  border: 2px solid;
}